 {% extends "test-layout.html" %}

      {% block title %}
      Recipe Lists
      {% endblock %}

	  {% block content %}
 	
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{{base_url()}}">Recipes</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="{{base_url()}}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
				  </a>
				  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				  </div>
				</li>
				<li class="nav-item">
				  <a class="nav-link disabled" href="#">Disabled</a>
				</li>
			  </ul>
			  <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			  </form>
			</div>
		</nav>

		<div id="mainPageJumbo" class="jumbotron text-center">
					<div class="container">
						<h1 id="titleMain" class="jumbotron-heading">Recipes</h1>
					</div>
		</div>
	
	<div class="main">
	<!-- <div class="album py-5 bg-light"> -->
		<div class="container-fluid">
			<div class="row">
				{% for recipe in recipes %}
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="card-img-top" src= {{ recipe.getImageUrl() }} style="width:390px;height:300px;">
						<div class="card-body">
							<h5 class="card-title">{{ recipe.getName() }}</h5>
							<h1 style="font-size: 14px" class="card-text"><i>Prep Time: {{ recipe.getPrepTime() }} min</i></h1>
							<p style="font-size: 14px" class="card-text"><i>Total Time: {{ recipe.getTotalTime }} min</i></p>
							<p class="card-text">{{ recipe.getDescription }}</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-primary"><a href="{{ base_url() }}/{{ recipe.getId() }}">View</a></button>
								</div>
								<small class="text-muted">{{ recipe.getTotalTime }} min</small>
							</div>
						</div>
					</div>
				</div>
				{% if (loop.index0+1)%3 == 0 %}
				<div class="row"></div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	<!-- </div> -->
	</div>
      {% endblock %}